*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
}

header{
    background-color: gold;
    color: rgb(63, 61, 61);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.month-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.month{
    margin-top: 50px;
    width: 25%;
    text-align: center;
    font-size: larger;
}

.month p{
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

.month h2{
    background-color: gold;
    color: rgb(63, 61, 61);
}

footer{
    text-align: center;
    background-color: gold;
    color: rgb(63, 61, 61);
    margin-top: 20px;
}